layout: false
---
<!Doctype html>
<html>
<head>
<link rel="dns-prefetch" href="//smartprogram.baidu.com">
<link rel="shortcut icon" href="https://www.baidu.com/favicon.ico" type="image/x-icon">
<style type="text/css">html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}@media only screen and (max-width: 768px) {html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{-webkit-tap-highlight-color: transparent;-webkit-touch-callout: none;-webkit-user-select: none;user-select:none;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color: transparent;-webkit-text-size-adjust: none;-webkit-touch-callout: none;-webkit-font-smoothing: antialiased;}}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;color:#222;font-size:14px}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}</style>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta charset="utf-8" />
<title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
<%- css('css/base') %>
<%- css('css/header') %>
<%- css('css/reference') %>
<%- css('css/footer') %>
<script type="application/javascript" src="<%- url_for('js/bodymovin.min.js') %>"></script>
</head>

<body id="home">
    <%- partial('_partial/header', {header: [
        {link: '/introduction/register',
            text: '介绍',
            name: 'introduction',
            nav: [ ]
        },
        { link: '/develop/tutorial/index',
            text: '开发',
            name: 'develop',
            nav: [  ]
        },
        { link: '/design/principle',
            text: '设计',
            name: 'design',
            nav: [ ]
        },
        { link: '/data/concept/',
            text: '数据',
            name: 'data',
            nav: [ ]
        },
        { link: '/operations/specification',
            text: '运营',
            name: 'operations',
            nav: [ ]
        },
        { link: '/third/creat',
            text: '第三方平台',
            name: 'third',
            nav: []
        }], h1: "运营规范", navs: []}) %>



        <div class="components-content">
            <div class="title">组件</div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/component/view/">
                        视图容器
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/view/#view">
                            view
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/view/#scroll-view">
                        scroll-view
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/view/#swiper">
                        swiper
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/view/#swiper-item">
                        swiper-item
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/view/#movable-view">
                        movable-view
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/view/#movable-area">
                        movable-area
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/view/#cover-view">
                        cover-view
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/view/#cover-image">
                        cover-image
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/component/base/">
                        基础内容
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/base/#icon">
                        icon
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/base/#text">
                        text
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/base/#rich-text">
                        rich-text
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/base/#progress">
                        progress
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/component/form/">
                        表单组件
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/form/#button">
                        button
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/form/#checkbox-group">
                        checkbox-group
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/form/#checkbox">
                        checkbox
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/form/#form">
                        form
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/form/#input">
                        input
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/form/#label">
                        label
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/form/#picker">
                        picker
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/form/#picker-view">
                        picker-view
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/form/#radio-group">
                        radio-group
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/form/#radio">
                        radio
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/form/#slider">
                        slider
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/form/#switch">
                        switch
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/form/#textarea">
                        textarea
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/component/nav/">
                        导航
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/nav/#navigator">
                        navigator
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/component/media/">
                        媒体组件
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/media/#audio">
                        audio
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/media/#image">
                        image
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/media/#video">
                        video
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/media/#camera">
                        camera
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/media/#live-player">
                        live-player
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/component/map/">
                        地图
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/map/#map">
                        map
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/map/#polyline">
                        polyline
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/map/#circles">
                        circles
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/map/#controls">
                        controls
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/map/#position">
                        position
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/component/canvas/">
                        画布
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/canvas/#canvas">
                        canvas
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/component/open/">
                        开放能力
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/open/#open-data">
                        open-data
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/component/open/#web-view">
                        web-view
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="api-content">

            <div class="title">API</div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/api/net/">
                        网络
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/net/#request">
                        request
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/net/#uploadFile">
                        uploadFile
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/net/#downloadFile">
                        downloadFile
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/net/#websocket">
                        websocket
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/net/#socketTask">
                        socketTask
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href=" https://smartprogram.baidu.com/docs/develop/api/ai/ai/">
                        AI
                    </a>
                </div>
                <ul>
                    <li><a href=" https://smartprogram.baidu.com/docs/develop/api/ai/ai/#ocrIdCard">
                        ocrIdCard
                    </a></li>
                    <li><a href=" https://smartprogram.baidu.com/docs/develop/api/ai/ai/#textReview">
                        textReview
                    </a></li>
                    <li><a href=" https://smartprogram.baidu.com/docs/develop/api/ai/ai/#textToAudio">
                        textToAudio
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/api/media/">
                        媒体
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#chooseImage">
                        chooseImage
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#previewImage">
                        previewImage
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#getImageInfo">
                        getImageInfo
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#saveImageToPhotosAlbum">
                        saveImageToPhotosAlbum
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#getRecorderManager">
                        getRecorderManager
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#getBackgroundAudioManager">
                        getBackgroundAudioManager
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#BackgroundAudioManager">
                        BackgroundAudioManager
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#createInnerAudioContext">
                        createInnerAudioContext
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#innerAudioContext">
                        innerAudioContext
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#chooseVideo">
                        chooseVideo
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#saveVideoToPhotosAlbum">
                        saveVideoToPhotosAlbum
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#createVideoContext">
                        createVideoContext
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#createLivePlayerContext">
                        createLivePlayerContext
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#livePlayerContext">
                        livePlayerContext
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#createCameraContext">
                        createCameraContext
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/media/#cameraContext">
                        cameraContext
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/api/file/">
                        文件
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/file/#saveFile">
                        saveFile
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/file/#getFileInfo">
                        getFileInfo
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/file/#getSavedFileList">
                        getSavedFileList
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/file/#getSavedFileInfo">
                        getSavedFileInfo
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/file/#removeSavedFile">
                        removeSavedFile
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/file/#openDocument">
                        openDocument
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/api/storage/">
                        数据存储
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/storage/#setStorage">
                        setStorage
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/storage/#setStorageSync">
                        setStorageSync
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/storage/#getStorage">
                        getStorage
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/storage/#getStorageSync">
                        getStorageSync
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/storage/#getStorageInfo">
                        getStorageInfo
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/storage/#getStorageInfoSync">
                        getStorageInfoSync
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/storage/#removeStorage">
                        removeStorage
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/storage/#removeStorageSync">
                        removeStorageSync
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/storage/#clearStorage">
                        clearStorage
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/storage/#clearStorageSync">
                        clearStorageSync
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/api/location/">
                        位置
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/location/#getLocation">
                        getLocation
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/location/#openLocation">
                        openLocation
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/location/#createMapContext">
                        createMapContext
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/api/canvas/">
                        绘图
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#简介">
                        简介
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#坐标系">
                        坐标系
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#createCanvasContext">
                        createCanvasContext
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-setFillStyle">
                        setFillStyle
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-setStrokeStyle">
                        setStrokeStyle
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-setShadow">
                        setShadow
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-createLinearGradient">
                        createLinearGradient
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-createCircularGradient">
                        createCircularGradient
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-addColorStop">
                        addColorStop
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-setLineWidth">
                        setLineWidth
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-setLineCap">
                        setLineCap
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-setLineJoin">
                        setLineJoin
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-setLineDash">
                        setLineDash
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-setMiterLimit">
                        setMiterLimit
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-rect">
                        rect
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-fillRect">
                        fillRect
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-strokeRect">
                        strokeRect
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-clearRect">
                        clearRect
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-fill">
                        fill
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-stroke">
                        stroke
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-beginPath">
                        beginPath
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-closePath">
                        closePath
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-moveTo">
                        moveTo
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-lineTo">
                        lineTo
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-arc">
                        arc
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-bezierCurveTo">
                        bezierCurveTo
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-quadraticCurveTo">
                        quadraticCurveTo
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-save">
                        save
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-restore">
                        restore
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/canvas/#canvasContext-draw">
                        draw
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/api/show/">
                        界面
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#showToast">
                        showToast
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#showLoading">
                        showLoading
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#hideToast">
                        hideToast
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#hideLoading">
                        hideLoading
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#showModal">
                        showModal
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#showActionSheet">
                        showActionSheet
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#setNavigationBarTitle">
                        setNavigationBarTitle
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#showNavigationBarLoading">
                        showNavigationBarLoading
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#hideNavigationBarLoading">
                        hideNavigationBarLoading
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#setNavigationBarColor">
                        setNavigationBarColor
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#setTabBarBadge">
                        setTabBarBadge
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#removeTabBarBadge">
                        removeTabBarBadge
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#showTabBarRedDot">
                        showTabBarRedDot
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#hideTabBarRedDot">
                        hideTabBarRedDot
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#setTabBarStyle">
                        setTabBarStyle
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#setTabBarItem">
                        setTabBarItem
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#showTabBar">
                        showTabBar
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#hideTabBar">
                        hideTabBar
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#navigateTo">
                        navigateTo
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#redirectTo">
                        redirectTo
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#switchTab">
                        switchTab
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#navigateBack">
                        navigateBack
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#reLaunch">
                        reLaunch
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#pageScrollTo">
                        pageScrollTo
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#createAnimation">
                        createAnimation
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#onPullDownRefresh">
                        onPullDownRefresh
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#startPullDownRefresh">
                        startPullDownRefresh
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/show/#stopPullDownRefresh">
                        stopPullDownRefresh
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/api/device/">
                        设备
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#系统信息">
                        系统信息
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#getSystemInfo">
                        getSystemInfo
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#getSystemInfoSync">
                        getSystemInfoSync
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#canIUse">
                        canIUse
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#网络状态">
                        网络状态
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#getNetworkType">
                        getNetworkType
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#onNetworkStatusChange">
                        onNetworkStatusChange
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#加速度计">
                        加速度计
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#onAccelerometerChange">
                        onAccelerometerChange
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#startAccelerometer">
                        startAccelerometer
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#stopAccelerometer">
                        stopAccelerometer
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#罗盘">
                        罗盘
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#onCompassChange">
                        onCompassChange
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#startCompass">
                        startCompass
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#stopCompass">
                        stopCompass
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#扫码">
                        扫码
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#scanCode">
                        scanCode
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#屏幕亮度">
                        屏幕亮度
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#setScreenBrightness">
                        setScreenBrightness
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#getScreenBrightness">
                        getScreenBrightness
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#setKeepScreenOn">
                        setKeepScreenOn
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#用户截屏事件">
                        用户截屏事件
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#振动">
                        振动
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#vibrateLong">
                        vibrateLong
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#vibrateShort">
                        vibrateShort
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#拨打电话">
                        拨打电话
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#makePhoneCall">
                        makePhoneCall
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#剪贴板">
                        剪贴板
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#setClipboardData">
                        setClipboardData
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/device/#getClipboardData">
                        getClipboardData
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/api/webview/">
                        web-view
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/webview/">
                        webview
                    </a></li>
                </ul>
            </div>
            <div class="lists">
                <div class="list-title">
                    <a href="https://smartprogram.baidu.com/docs/develop/api/open/">
                        开放接口
                    </a>
                </div>
                <ul>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#登录">
                        登录
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#login">
                        login
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#checkSession">
                        checkSession
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#用户数据的签名验证和加解密">
                        用户数据的签名验证和加解密
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#授权">
                        授权
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#用户信息">
                        用户信息
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#SwanID机制说明">
                        SwanID机制说明
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#getSwanId">
                        getSwanId
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#getUserInfo">
                        getUserInfo
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#设置">
                        设置
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#openSetting">
                        openSetting
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#getSetting">
                        getSetting
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#onShareAppMessage">
                        onShareAppMessage
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#chooseAddress">
                        chooseAddress
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#requestPayment">
                        requestPayment
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#requestAliPayment">
                        requestAliPayment
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#requestPolymerPayment">
                        requestPolymerPayment
                    </a></li>
                    <li><a href="https://smartprogram.baidu.com/docs/develop/api/open/#chooseInvoiceTitle">
                        chooseInvoiceTitle
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="m-hp-footer">
            <div class="m-hp-footer-wrapper">
                <ul class="m-hp-info-list">
                    <li>
                        <a href="https://www.baidu.com"> 百度首页</a>
                    </li>
                    <li>
                        <a href="/docs/introduction/register/"> 文档说明</a>
                    </li>
                    <li>
                        <a href="mailto:smartprogram_support@baidu.com"> 问题反馈</a>
                    </li>
                </ul>
                <ul class="m-hp-copyright-list">
                    <li>京公网安备案11000002000001</li>
                    <li>互联网新闻信息服务许可号</li>
                    <li>©2018 Baidu</li>
                </ul>
            </div>
        </div>
</body>
</html>
