<%
    // 取当前页面各级导航及相关数据
    var headerNavs = site.data.nav; // 1级(头部)导航
    var nav; // 2级（sidebar）导航
    var currentPageList = [];
    var h1; // 正文h1
    var license = {};
    var bottomPage = {}; // 底部跳转
    var localData = {}; // 页面siderbar数据
 
    // 当前headerNavs索引
    var headerNavIndex;
    for(var i = 0; i < headerNavs.length; i++) {
        if (headerNavs[i].name == page.header) {
            nav = headerNavs[i].nav;
            license = headerNavs[i].license;
            headerNavIndex = i;
        }
    }

    // 处理页面的title
    var filterTitle = function(title) {
        if (title.indexOf(".") > 0) {
            return title.trim().split(".").join(",") + ',' + title;
        } else if (title.indexOf(" ") > 0) {
            var initTitle = title.trim().split(/\s+/);
            var nextTitle = '';
            initTitle.forEach(function(item) {
                if (item.indexOf("-") > 0) {
                    nextTitle += item.split("-").join(",") + ',' + item.split("-").join("") + ',';
                }
            });
            var finallyTitle = nextTitle + initTitle;
            return finallyTitle ;
        } else {
            return title;
        }
    };

    // 去除所有html标签 转为纯文本
    var replaceHtml = function(str) {
        str = str.replace(/(\r\n|\n)/g, '')               // 换行
        .replace(/<!--.*?\/-->/g, '')                   // 注释
        .replace(/<pre.*?\/pre>/g, '')                 // 去掉代码片段
        .replace(/<[^>]+>/g, '');                     // html标签
        return str;
    }

    var recursiveTitle = function(list) {
        list.forEach(function(item) {
            if (item.sidebar) {
                var sidebarList = item.sidebar;
                recursiveTitle(sidebarList);
            } else {
                currentPageList.push(item);
                h1 = page.title;
                title = filterTitle(page.title);
                keywords = page.keywords ? (',' + page.keywords.join(",")) : '';
                description = replaceHtml(page.more);
            }
        })
    };

    var nav = nav ? nav : [];
    recursiveTitle(nav);

 
    for (var n = 0; n < currentPageList.length; n++) {
        if (currentPageList[n].name == page.sidebar) {
            if (n > 0) {
                bottomPage.left = currentPageList[n-1];
            }
 
            if (n < currentPageList.length - 1) {
                bottomPage.right = currentPageList[n+1];
            }
        }
    }
%>
<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="google" content="notranslate" />
    <meta name="keywords" content="小程序,小程序开发,小程序文档,智能小程序,智能小程序开发,百度小程序,百度智能小程序,<%= title %><%= keywords %>" />
    <meta name="description" content="<%= description %>" />
    <title><% if (h1) { %><%= h1 %> - <% }%>百度智能小程序文档</title>
    <link rel="dns-prefetch" href="//smartprogram.baidu.com">
    <link rel="shortcut icon" href="https://www.baidu.com/favicon.ico" type="image/x-icon">
    <%- css('css/base') %>
    <%- css('css/header') %>
    <%- css('css/sidebar') %>
    <%- css('css/article') %>
    <%- css('css/code') %>
    <%- css('css/custom') %>
    <%- css('css/tooltipster.bundle') %>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0db18a3ce977f2c77edf8e7a00bf159d";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</head>
<body>
    <script>
        window.isSwanIde = window && window._swanIde;
    </script>
    <%- partial('_partial/header', {navs: headerNavs, navIndex: headerNavIndex, h1: h1}) %>
    <%- partial('_partial/sidebar', {nav: nav}) %>
    <%- partial('_partial/article', {index: false, post: page, h1: h1, bottomPage: bottomPage, license: license}) %>
    <script type="text/javascript">
        window.localData = {
            'headerName': '<%= headerNavIndex != null ? headerNavs[headerNavIndex].name : '' %>',
            'localData': '<%- JSON.stringify(localData) %>',
            'sidebarIgnore': '<%= config.sidebarIgnore.list %>'
        };
    </script>
    <script src="//s.bdstatic.com/common/openjs/openBox.js?_v=2016071219"></script>
    <%- js('js/jquery.min') %>
    <%- js('js/fx') %>
    <%- js('js/lib') %>
    <%- js('js/tooltipster.bundle.min')%>
    <%- js('js/headerinit')%>
    <%- js('js/docsinit') %>
    <%- js('js/search') %>
    <%- js('js/clipboard.min') %>
 
   <% if (config.search) { %>
      <script type="text/javascript">
         searchFunc('local-search-input', 'article-search-result');
      </script>
   <% } %>
 
</body>
</html>
