<%
    // 取当前页面各级导航及相关数据
    var header = site.data.nav; // 1级(头部)导航
    var headerIndex; // 当前header索引
    var nav; // 2级（sidebar）导航
    var currentPageList = [];
    var h1; // 正文h1
    var license = {};
    var bottomPage = {}; // 底部跳转
    var localData = {}; // 页面siderbar数据

    for(var i = 0; i < header.length; i++) {
        if (header[i].name == page.header) {
            nav = header[i].nav;
            license = header[i].license;
            headerIndex = i;
        }
    }

    for (var j = 0; j < nav.length; j++) {
        var h1List = nav[j].sidebar;
        localData[nav[j].name] = true;
        for (var k = 0; k < h1List.length; k++) {
            var h2List = h1List[k].sidebar;
            for (var m = 0; m < h2List.length; m++) {
                var h2Page = h2List[m];
                currentPageList.push(h2Page);
                if (h2Page.name == page.sidebar) {
                    h1 = h2Page.text;
                }
            }
        }
    }
    for (var n = 0; n < currentPageList.length; n++) {
        if (currentPageList[n].name == page.sidebar) {
            if (n > 0) {
                bottomPage.left = currentPageList[n-1];
            }

            if (n < currentPageList.length - 1) {
                bottomPage.right = currentPageList[n+1];
            }
        }
    }
%>
<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="google" content="notranslate" />
    <title>
        <% if (h1) { %> 
            <%= h1 %> - 
        <% }%>
        <%= header[headerIndex].text %>
    </title>
    <link rel="dns-prefetch" href="//smartprogram.baidu.com">
    <link rel="shortcut icon" href="https://www.baidu.com/favicon.ico" type="image/x-icon">
    <%- css('css/base') %>
    <%- css('css/header') %>
    <%- css('css/sidebar') %>
    <%- css('css/article') %>
    <%- css('css/code') %>
    <%- css('css/custom') %>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0db18a3ce977f2c77edf8e7a00bf159d";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <%- partial('_partial/header', {header: header, h1: h1}) %>
    <%- partial('_partial/sidebar', {nav: nav}) %>
    <%- partial('_partial/article', {index: false, post: page, h1: h1, bottomPage: bottomPage, license: license}) %>
    <script type="text/javascript">
        window.localData = {
            'headerName': '<%- header[headerIndex].name %>',
            'localData': '<%- JSON.stringify(localData) %>',
            'sidebarIgnore': '<%= config.sidebarIgnore.list %>'
        }; 
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0db18a3ce977f2c77edf8e7a00bf159d";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script src="//s.bdstatic.com/common/openjs/openBox.js?_v=2016071219"></script>
    <%- js('js/zepto.min') %>
    <%- js('js/fx') %>
    <%- js('js/lib') %>
    <%- js('js/superstart') %>
    <%- js('js/search') %>
    <%- js('js/clipboard.min') %>

   <% if (config.search) { %>
      <script type="text/javascript">
         var search_path = "<%= config.search.path %>";
         if (search_path.length == 0) {
            search_path = "search.xml";
         }
         var path = "<%= config.root %>" + search_path;
         searchFunc(path, 'local-search-input', 'article-search-result');
      </script>
   <% } %>

</body>
</html>
