<div class="m-doc-content-layout">
    <div class="m-doc-content-wrap">
        <div id="article-main-content">
            <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
                  <h1><%= h1%></h1>
                  <div class="article-inner">
                    <div class="article-entry" itemprop="articleBody">
                      <% if (post.excerpt && index){ %>
                        <%- post.excerpt %>
                        <% if (theme.excerpt_link){ %>
                          <p class="article-more-link">
                            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
                          </p>
                        <% } %>
                      <% } else { %>
                        <%- post.content %>
                      <% } %>
                    </div>
                  </div>
                  <div class="m-doc-bottomPage-wrapper clearfix">
                    <% if (bottomPage.left) { %>
                      <a href="/docs<%= bottomPage.left.link %>/" class="m-doc-bottomPage-left"><%= bottomPage.left.text %></a>
                    <% } %>
                    <% if (bottomPage.right) { %>
                      <a href="/docs<%= bottomPage.right.link %>/" class="m-doc-bottomPage-right"><%= bottomPage.right.text %></a>
                    <% } %>
                  </div>
            </article>
            <aside class="toc-wrap">
            <div class="toc-list-wrap">
              <%- toc(post.content, {list_number: false}) %>
            </div>
          </aside>
        </div>
        <article id="article-search-result" class="article-search-result"></article>
    </div>
    
    <div class="m-doc-menu-wrapper">
        <a href="javascript:void(0)" class="m-doc-menu-toc"></a>
        <a href="javascript:void(0)" class="m-doc-menu-top"></a>
    </div>
</div>
