<div class="m-doc-content-layout">
    <div class="m-doc-content-wrap">
        <div id="article-main-content">
            <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
                  <h1><%= h1%></h1>
                  <div class="article-inner">
                    <div class="article-entry" itemprop="articleBody">
                      <% if (post.excerpt && index){ %>
                        <%- post.excerpt %>
                        <% if (theme.excerpt_link){ %>
                          <p class="article-more-link">
                            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
                          </p>
                        <% } %>
                      <% } else { %>
                        <%- post.content %>
                      <% } %>
                    </div>
                  </div>
                  <!-- <div class="feedback-question">
                      <a class="question-text" href="https://zhiqiu.baidu.com/imcswebchat/chat/html/message.html?id=797&token=8cvemmp5o16moo61t5t0h06hagggkffl&domainID=smartapp">反馈建议</a>
                  </div> -->
                  <% if (bottomPage.left || bottomPage.right) { %>
                    <div class="m-doc-bottomPage-wrapper clearfix">
                      <% if (bottomPage.left) { %>
                        <a href="/docs<%= bottomPage.left.link %>/" class="m-doc-bottomPage-left"><%= bottomPage.left.text %></a>
                      <% } %>
                      <% if (bottomPage.right) { %>
                        <a href="/docs<%= bottomPage.right.link %>/" class="m-doc-bottomPage-right"><%= bottomPage.right.text %></a>
                      <% } %>
                    </div>
                  <% } %>
            </article>
            <aside class="toc-wrap">
            <div class="toc-list-wrap">
              <%- toc(post.content, {list_number: false}) %>
            </div>
          </aside>
        </div>
        <article id="article-search-result" class="article-search-result"></article>
    </div>
    <% if (license && license.link && license.name) { %>
      <div class="m-doc-license">
        <div class="m-doc-license-content">
          <p>版权声明：
          <a href="<%= license.link %>" target="_blank" rel="license noopener noreferrer">
            <%= license.name %>
          </a>
        </p>
        </div>
      </div>
    <% } %>
    <div class="m-doc-menu-wrapper" id="m-doc-menu-wrapper">
        <a href="javascript:void(0)" class="m-doc-menu-toc"></a>
        <a target="_blank" href="https://github.com/swan-team/swan-docs/tree/master/source/<%= post.source %>" class="m-doc-menu-edit m-doc-menu-item"><span>编&nbsp;辑文&nbsp;档</span></a>
        <a target="_blank" href="https://smartprogram.baidu.com/forum/topic/add?hmsr=faceback&boardId=1&tagId=8&docsLink=https://smartprogram.baidu.com/docs/<%= post.path %>" class="m-doc-menu-feedback m-doc-menu-item"><span>反&nbsp;馈帮&nbsp;助</span></a>
        <a href="javascript:void(0)" class="m-doc-menu-top m-doc-menu-item"><span>回&nbsp;到顶&nbsp;部</span></a>
    </div>
</div>
