<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="https://www.baidu.com/favicon.ico" type="image/x-icon">
    <title>
        手百小游戏文档<%= (' - ' + (page.title || config.title)) || '' %>
    </title>
    <%- css('css/game/main.css') %>
    <%- css('css/tooltipster.bundle') %>
</head>
<body>
    <header class="p-navbar">
        <div class="p-navbar-logo">
            <a href="https://smartprogram.baidu.com/developer/index.html" class="swan-logo">
                <%- image_tag('img/logo_new.png') %>
            </a>
            <span class="m-doc-logo-line"></span>
            <a href="" class="doc-logo">
                <%- image_tag('img/logo_docs.png') %>
            </a>
        </div>
    <div class="p-navbar-header">
    </div>
        <nav class="p-navbar-menu">
            <%- partial('./header-nav', {}) -%>
        </nav>`

        <%- partial('./game-search') -%>
        <%- js('js/jquery.min') %>
        <%- js('js/tooltipster.bundle.min')%>
        <%- js('js/game/search.raw') %>
        <%- js('js/game/marked.min')%>
        <%- js('js/game/mobileAdapter')%>
        <%- js('js/game/doc.raw')%>
        <%- js('js/headerinit')%>
        <% if (config.search) { %>
            <script>
            var search_path = "<%= config.search.path %>";
            if (search_path.length == 0) {
                search_path = "search.json";
            }
            var path = "<%= config.root %>" + search_path;
            searchFunc(path, 'local-search-input', 'article-search-result', marked);
            </script>
        <% } %>
    </header>

    <% if (locals.sidebar) { %>
    <%- partial('./game-sidebar', {categoryName: locals.categoryName}) %>
    <% } %>

    <div class="p-content <%= locals.categoryName %>">
        <div class="p-content-wrap">
            <article id="article-search-result" class="article-search-result"></article>
            <article id="article-main-content" class="p-content-wrap-article">
                <h1><%- page.title %></h1>
