<header>
    <a href="javascript:void(0)" class="m-doc-nav-btn"></a>
    <div class="m-mobile-doc-level1"><%#
        %><% for(var i = 0; i < navs.length; i++) { %><%#
            %><% if(i === navIndex) { %><%#
                %><div class="m-mobile-level1-selected"><span><%- navs[i].text %></span><img src="<%- url_for('img/level1_arrow.png') %>"/></div><%#
                %><ul><%#
                    %><% for(var i = 0; i < navs.length; i++) {%><%#
                        *%><li <% if(i === navIndex) { %> class="m-doc-header-nav-selected" <% } %>><%#
                            %><a href="/docs<%- navs[i].link %>/"><%- navs[i].text %></a><%#
                        %></li><%#
                    %><% } %><%#
                %></ul><%#
            %><% } %><%#
        %><% } %>
        <div class="m-mobile-doc-header-list-mask"></div>
    </div>
    <div class="m-doc-logo-wrapper">
        <a href="/" class="m-doc-logo">
            <img src="<%- url_for('img/logo.png') %>"/>
        </a>
    </div>

    <%- partial('./header-nav', {}) -%>

    <%- partial('./search') -%>
</header>