<header>
    <a href="javascript:void(0)" class="m-doc-nav-btn"></a>
    <div class="m-mobile-doc-level1"><%#
        %><% for(var i = 0; i < header.length; i++) { %><%#
            %><% if(header[i].name == page.header) { %><%#
                %><div class="m-mobile-level1-selected"><span><%- header[i].text %></span><img src="<%- url_for('img/level1_arrow.png') %>"/></div><%#
                %><ul><%#
                    %><% for(var i = 0; i < header.length; i++) {%><%#
                        *%><li <% if(header[i].name == page.header) { %> class="m-doc-header-nav-selected" <% } %>><%#
                            %><a href="/docs<%- header[i].link %>/"><%- header[i].text %></a><%#
                        %></li><%#
                    %><% } %><%#
                %></ul><%#
            %><% } %><%#
        %><% } %>
        <div class="m-mobile-doc-header-list-mask"></div>
    </div>
    <div class="m-doc-logo-wrapper">
        <div href="/" class="m-doc-logo">
            <a href="https://smartprogram.baidu.com/developer/index.html">
                <img src="<%- url_for('img/logo_new.png') %>" id="developer-index"/>
            </a>
            <span class="m-doc-logo-line"></span>
            <a href="">
                <img src="<%- url_for('img/logo_docs.png') %>" class="docs-logo" id="docs-index"/>
            </a>
        </div>
    </div>
    <div class="m-doc-forum">
        <a href="https://smartprogram.baidu.com/forum/">社区</a>
    </div>
    <div class="m-doc-level1">
        <ul><%#
            %><% for(var i = 0; i < header.length; i++) {%><%#
                *%><li <% if(header[i].name == page.header) { %> class="m-doc-header-nav-selected <%- header[i].name %>" <% } else { %> class="<%- header[i].name %>" <% } %>><%#
                    %><a href="/docs<%- header[i].link %>/"><%- header[i].text %></a><%#
                %></li><%#
            %><% } %><%#
        %></ul>
        <div class="m-doc-crumbs-wrapper"><span></span><span></span><span></span></div>
    </div>
    

    <%- partial('./search') -%>
</header>