<div class="m-doc-sidebar-mask"></div>
<div class="m-doc-sidebar-nav-wrapper">
    <ul>
        <% for (var i = 0; i < nav.length; i++) { %>
            <li class="m-doc-sidebar-nav-selected" data-name="<%- nav[i].name %>">
                <div class="m-doc-sidebar-list"><span><%- nav[i].text %></span><img src="<%- url_for('img/level1_arrow.png') %>"/></div>
                <ul>
                    <% for (var j = 0; j < nav[i].sidebar.length; j++) { %>
                        <li <% if (nav[i].name == page.nav && nav[i].sidebar[j].name == page.sidebar) { %> class="m-doc-sidebar-selected" <% } %>>
                            <a href="/docs<%- nav[i].sidebar[j].link %>/"><%- nav[i].sidebar[j].text %></a>
                            <% if (nav[i].sidebar[j].sidebar) { %>

                            <ul class="m-doc-sidebar-children">
                                <% for (var k = 0; k < nav[i].sidebar[j].sidebar.length; k++) { %>
                                <li <% if (nav[i].name == page.nav && nav[i].sidebar[j].sidebar[k].name == page.sidebar) { %> class="m-doc-sidebar-selected" <% } %>>
                                    <a href="/docs<%- nav[i].sidebar[j].sidebar[k].link %>/"><%- nav[i].sidebar[j].sidebar[k].text %></a>
                                </li>
                                <% } %>
                            </ul>
                            <% } %>
                        </li>
                    <% } %>
                </ul>
            </li>
        <% } %>
    </ul>
</div>
