<div class="m-doc-sidebar-mask"></div>
<div class="m-doc-sidebar-nav-wrapper">
    <ul>
        <%
            var navLen = nav ? nav.length : 0;
            for (var i = 0; i < navLen; i++) {
        %>
            <li <% if (nav[i].name == page.nav||page.header!='develop') { %> class="m-doc-nav-on" <% } %> data-name="<%- nav[i].name %>">
                <div class="m-doc-nav-list" href="/docs<%- nav[i].link %>">
                    <% if(page.header!='develop') { %>
                      <img src="<%- url_for('img/level1_arrow.png') %>"
                      class="less_than_level4" />
                    <%} else { %>
                      <img src="<%- url_for('img/level1_open.png') %>"
                      class="greater_than_level4_open"/>
                      <img src="<%- url_for('img/level1_close.png') %>" class="greater_than_level4_close" />
                      <% } %>
                    <span><%- nav[i].text %></span>
                </div>
                <ul class="m-doc-nav-children">
                    <% for (var j = 0; j < nav[i].sidebar.length; j++) { %>
                        <li class="m-doc-sidebar-on">
                            <% if (nav[i].sidebar[j].text) { %>
                                <div class="m-doc-h1-list">
                                    <img src="<%- url_for('img/level1_arrow.png') %>" />
                                    <div><%- nav[i].sidebar[j].text %></div>
                                </div>
                            <% } %>
                            <% if (nav[i].sidebar[j].sidebar) { %>
                            <ul <% if (nav[i].sidebar[j].text) { %>class="m-doc-h1-children"<% } else { %> class="m-doc-h1-children m-doc-h1-noh1" <% } %> >
                                <% for (var k = 0; k < nav[i].sidebar[j].sidebar.length; k++) { %>
                                <li <% if (nav[i].name == page.nav && nav[i].sidebar[j].sidebar[k].name == page.sidebar) { %> class="m-doc-sidebar-selected" <% } %>>
                                    <a class="m-doc-h2-list" href="/docs<%- nav[i].sidebar[j].sidebar[k].link %>/"><%- nav[i].sidebar[j].sidebar[k].text %></a>
                                    <% if (nav[i].sidebar[j].sidebar[k].sidebar) { %>
                                    <ul class="m-doc-h2-children">
                                        <% for (var m = 0; m < nav[i].sidebar[j].sidebar[k].sidebar.length; m++) {%>
                                            <li <% if (nav[i].name == page.nav && nav[i].sidebar[j].sidebar[k].sidebar[m].name == page.sidebar) { %> class="m-doc-sidebar-selected" <% } %>>
                                                <a class="m-doc-h3-list" href="/docs<%- nav[i].sidebar[j].sidebar[k].sidebar[m].link %>/"><%- nav[i].sidebar[j].sidebar[k].sidebar[m].text %></a>
                                                <% if (nav[i].sidebar[j].sidebar[k].sidebar[m].sidebar) { %>
                                                  <ul class="m-doc-h3-children">
                                                      <% for (var z = 0; z < nav[i].sidebar[j].sidebar[k].sidebar[m].sidebar.length; z++) {%>
                                                        <li <% if (nav[i].name == page.nav && nav[i].sidebar[j].sidebar[k].sidebar[m].sidebar[z].name == page.sidebar) { %> class="m-doc-sidebar-selected" <% } %>>
                                                          <a href="/docs<%- nav[i].sidebar[j].sidebar[k].sidebar[m].sidebar[z].link %>/"><%- nav[i].sidebar[j].sidebar[k].sidebar[m].sidebar[z].text %></a>
                                                        </li>
                                                      <% } %>
                                                  </ul>
                                                <% } %>
                                            </li>
                                        <% } %>
                                    </ul>
                                    <% } %>
                                </li>
                                <% } %>
                            </ul>
                            <% } %>
                        </li>
                    <% } %>
                </ul>
            </li>
        <% } %>
    </ul>
</div>
